@import 'styles/index';

.home-page-employees {
    $border: 1px solid #DDDDDD;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 352px;
    border-left: $border;
    border-right: $border;
    overflow-y: hidden;

    &__title {
        padding: 16px 16px 0;
    }

    &__list {
        margin: 4px auto 0;
        overflow-y: auto;

        &:hover {
            -webkit-overflow-scrolling: touch;
            -moz-overflow-scrolling: touch;
            -ms-overflow-scrolling: touch;
            -o-overflow-scrolling: touch;
            overflow-scrolling: touch;

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                background-color: rgba(0,0,0,0.5);
                -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
            }
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
    }
}
