@import 'styles/index';

.home-page-employee {
    $textColor: #000;
    $textMailColor: #0000FF;
    $ratingBackgroundColor: #777777;
    $ratingFavoriteColor: #228B22;
    $ratingBlockedColor:  #FF4500;
    $backgroundColor: #FFFFFF;
    $selectedBackgroundColor: #E3F2FD;
    $border: 1px solid #DDDDDD;

    display: flex;
    width: 320px;
    height: 76px;
    padding: 12px;
    border: $border;
    box-sizing: border-box;
    background-color: $backgroundColor;

    &+& {
        margin-top: 8px;
    }

    &--selected {
        background-color: $selectedBackgroundColor;
    }

    &__avatar {
        width: 52px;
        height: 52px;
        object-fit: cover;
        margin-right: 12px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        font-family: Roboto, sans-serif;

        &-name {
            color: $textColor;
            font-size: 20px;
            line-height: 23px;
        }

        &-mail {
            color: $textMailColor;
            font-size: 16px;
            line-height: 19px;
            margin-top: 8px;
        }
    }

    &__rating {
        display: flex;
        flex-direction: column;
        margin-left: auto;

        &-favorite {
            width: 18px;
            height: 20px;
            margin-bottom: 12px;

            svg path {
                fill: $ratingFavoriteColor;
            }
        }

        &-blocked {
            width: 18px;
            height: 20px;

            svg path {
                fill: $ratingBlockedColor;
            }
        }
    }
}
