@import 'styles/index';

.home-page-filter {
    $resetButtonColor: #0000FF;

    padding: 16px;
    position: relative;

    &__field {
        &+& {
            margin-top: 32px;
        }

        .button {
            background: #FFFFFF;
        }
    }

    &__title {
        margin-bottom: 4px;
    }

    &__reset-button {
        position: absolute;
        bottom: 16px;
        color: $resetButtonColor;

        &:after {
            background: $resetButtonColor;
        }
    }
}
