@import 'styles/index';

.home-page-files {
    $self: &;
    $buttonBackground: #ffffff;

    &__file-container {
        display: flex;
        margin-top: 4px;

        #{$self}__download-button {
            width: 292px;
            margin-right: 4px;
        }

        #{$self}__remove-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
        }
    }

    &__upload-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: $buttonBackground;
        border: 1px solid #CCCCCC;
        box-shadow: 1px 1px 1px 0 #fff inset;
        margin-top: 4px;

        #{$self}__input {
            display: none;
        }
    }

    .button {
        background: $buttonBackground;
    }
}
